
  .seat {
    background-color: white !important;
    border: 1px solid black !important;
  }

  .seat .seat__number {
    color: black !important;
  }
  
  .seat--reserved {
    background-color: gray !important;
  }
  
  .seat--selected {
    background-color: green !important;
  }
  .seat--selected .seat__number {
    color: white !important;
  }
  
  .seat-picker {
    margin: auto !important;
  }

  .seat-content {
    overflow: scroll !important;
  }
  
  .seat-picker__row {
  }
  
  .seat-picker__row__number {
  }
  
  div.blank {
    display: none !important;
  }
  